# tic  tac toe game-dataset

### import the necessary modules

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
from statsmodels.stats.proportion import proportions_ztest
from scipy.stats import pearsonr
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix

###  processing the data file

In [2]:
data=pd.read_csv("C:/Users/ELCOT/Downloads/tic-tac-toe.data")

In [3]:
data.head()

   x x.1 x.2 x.3  o o.1 x.4 o.2 o.3  positive
0  x   x   x   x  o   o   o   x   o  positive
1  x   x   x   x  o   o   o   o   x  positive
2  x   x   x   x  o   o   o   b   b  positive
3  x   x   x   x  o   o   b   o   b  positive
4  x   x   x   x  o   o   b   b   o  positive

In [4]:
data.isnull().sum()

x           0
x.1         0
x.2         0
x.3         0
o           0
o.1         0
x.4         0
o.2         0
o.3         0
positive    0
dtype: int64

In [8]:
data=data.replace('x',2)
data=data.replace('o',3)
data=data.replace('b',4)
data=data.replace('positive',1)
data=data.replace('negative',0)

In [9]:
data.tail()

     x  x.1  x.2  x.3  o  o.1  x.4  o.2  o.3  positive
952  3    2    2    2  3    3    3    2    2         0
953  3    2    3    2  2    3    2    3    2         0
954  3    2    3    2  3    2    2    3    2         0
955  3    2    3    3  2    2    2    3    2         0
956  3    3    2    2  2    3    3    2    2         0

In [11]:
x = data.iloc[:,:-1]
y = data.iloc[:,-1]

In [39]:
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.2, random_state=42)

In [40]:
train_x.shape

(765, 9)

In [41]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion='entropy', random_state=0, max_depth=10)

In [42]:
classifier.fit(train_x, train_y)

DecisionTreeClassifier(criterion='entropy', max_depth=10, random_state=0)

In [43]:
pred = classifier.predict(test_x)

In [44]:
from sklearn.metrics import confusion_matrix, classification_report

In [45]:
confusion_matrix(test_y, pred)

array([[ 55,  12],
       [  2, 123]], dtype=int64)

In [46]:
model=LogisticRegression()
model.fit(train_x,train_y)

LogisticRegression()

In [47]:
model.score(test_x,test_y)

0.703125